*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container
{
    margin:100px 200px 0px 200px;
    
}
.navbar{
    display: flex;
    justify-content: space-between;

}
.left {
    width: 20vw;
    font-family: 'PT Serif';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
}
.right{
    text-transform: uppercase;
    width: 450px;
}
.right p{
    text-transform: capitalize;
    width: 80%;
    
}
.img-container{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
   
}
.img-container img {
    width: 240px;
    height: 420px;
    margin-left: 50px;
    margin-top: 90px;
}